body{
    margin: 0px;
    background-image: url("img_forms/1024x720def1.png") ;
}

header{
 
    display: flex;
    justify-content: space-between;
    opacity: 100%;
}
header>div{
    display: flex;
}


.div_do_forms{
    
    padding: 12px 370px;


}
.formul{
    backdrop-filter: blur(10px);
    display: block;
    color: #d3d3d3;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
    
    padding: 10px 5px;
    border-radius: 14px;
    justify-content: center;
    
}

input, select{
    opacity: 50%;
    height: 40px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #dddddd;
    border-radius: 10px;
    box-sizing: border-box;
    
}

.img_inutil{
    padding: 12px;
}
.logo>h2{
    font-size: 30px;
    color: #e1e1e1;
    animation: luminosidade;
    animation-duration: 20s;
    animation-iteration-count: infinite;

}

.entrar{
    padding: 10px;
}
.entrar>h3{
    font-size: 23px;
    padding: 0px;
    margin: 10px;
    
    color: #e1e1e1;
    transition: color 1s;
}

.entrar>h3:hover{
    animation: luminosidade;
    animation-duration: 5s;
    
}

@keyframes luminosidade {
    0%{
        text-shadow: 0px 0px 0px;
    }
    50%{
        text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
    }
    100%{
        text-shadow: 0px 0px 0px;
    }
}