@font-face {
    font-family: Nunito;
    src: url(./font/Nunito-VariableFont_wght.ttf);
}
*{
    font-family: "Nunito", sans-serif;
    font-size:17px;
}
body{
    margin: 0px;
    background-color: #e0dfff;
}
/*  */
header{
    position: relative;
    display: flex;
    justify-content: center;
    height: 100px;
    top:-50px;
    z-index: 2;
}
header>div{
    width: 100%;
    padding-top: 15px;
    position: fixed;
    backdrop-filter: blur(10px);
}
.trens{
    width: 1000px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.trens>div{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    transition: color 1s;
}
.trens>div>h4{
    display: flex;
    align-items: center;
}
.trens>div>h4>a{
    padding: 10px;
    font-size: 30px;
    color: #2cb8b3;
    transition: color 1s;
    text-decoration: none;
}
.trens>div>h4>a:hover{
    color: #056515;
}
/*  */
.links{
    width: 100%;
    display: flex;
    justify-content: center;
}
.links>article{
    width: 1000px;
    display: flex;
    justify-content: space-around;
}
.links>article>h3{
    font-size: 23px;
    border-radius: 10px 10px 0px 0px;
    margin: 0px;
    padding: 20px 10px 20px 10px;
}
.links:hover{
    .ex{
        z-index: 1;
    }
}
/*  */
.as{
    display: flex;
    justify-content: center;
}
.as>h4{
    color: #e1e1e1;
    font-size: 50px;
}
footer{
    background-color: #181818;
    padding: 20px 0px 0px 0px   ;
    width: 100vw;
    /* box-shadow: -5px -5px 12px 0px rgba(0,0,0,0.75); */
}
footer>div>h4{
    color: #e1e1e1;
}
footer>div>div{
    display: flex;
    justify-content: space-around;
}
.f-img1,.f-img2,.f-img3,.f-img4{
    height: 200px;
    border-radius: 20px;
    transition: box-shadow 2s;
}
.f-img1:hover,.f-img2:hover,.f-img3:hover,.f-img4:hover{
    box-shadow: 10px 10px 0px 0px rgba(255, 244, 244, 0.75);
}