@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    font-family: "Nunito", sans-serif;
    font-size:17px;
}
body{
    margin: 0px;
    background-color: #e0dfff;
}
main{
    overflow: hidden;
}
/*  */
header{
    position: relative;
    display: flex;
    justify-content: center;
    height: 100px;
    top:-50px;
    z-index: 2;
}
header>div{
    width: 100%;
    padding-top: 15px;
    position: fixed;
    backdrop-filter: blur(10px);
}
.trens{
    width: 1000px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.trens>div{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    transition: color 1s;
}
.trens>div>h4{
    padding: 10px;
    font-size: 30px;
    color: #2cb8b3;
    transition: color 1s;
}
.trens>div>h4:hover{
    color: #056515;
}
/*  */
.links{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.links>article{
    width: 1000px;
    display: flex;
    justify-content: space-around;
}
.links>article>h3{
    font-size: 23px;
    border-radius: 10px 10px 0px 0px;
    margin: 0px;
    padding: 20px 10px 20px 10px;
}
/*  */
.as{
    display: flex;
    justify-content: center;
}
.as>h4{
    color: #e1e1e1;
}
footer{
    background-color: #181818;
    padding: 10px;
}
footer>div>h4{
    color: #e1e1e1;
    text-align: center;
}
footer>div>div{
    display: flex;
    justify-content: space-around;
}